h1{
    margin-left: 600px;
    margin-right: 700px;
    color: rgb(235, 120, 120);
    font-size: 40px;
    font-family: Arial;
  background-color: rgb(221, 236, 236);
}
div {
    margin-left: 600px;
    font-family: Arial;
   font-size: 30px;
   margin-top: 70px;
   background-color: bisque;
   margin-right: 700px;
}
img{

max-width: 300px;
margin-left: 700px;
margin-top: 20px;
}